html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1")

    script(src='/src/libraries/jquery.min.js')
    script(src='/src/libraries/jqueryui.min.js')
    script(src='/src/libraries/nestedSortable.js')
    //- script(src="http://code.jquery.com/ui/1.10.4/jquery-ui.min.js")
    script(src="/src/app.js")
  
    link(rel='stylesheet', href='/style/style.css')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')

    script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
  body
    .container-fluid
      #preview.column
        iframe
          link(rel='stylesheet', href="style/preview.css")
      
      #blocks.column
        ul.nav.nav-tabs(id='tabs', data-tabs="tabs")
          li.active: a(href="#tabs-1", data-toggle="tab") Build
          li: a(href="#tabs-2", data-toggle="tab") Control

        #blocksContainer.tab-content
          #tabs-1.tab-pane.active
            //- ul.nav.nav-pills.nav-stacked
            //- li.active: a(href="#") Groups
            //- li: a(href="#") Elements

            ol.blockStore
              li.draggable
                .block.group
                  p group
                  form(role='form')
                    label.radio-inline
                      input(type="radio", value="|", name="divFormat")
                      | ||
                    label.radio-inline
                      input(type="radio", value="-", name="divFormat",checked)
                      | ==
              li.draggable
                .block.header
                  p header
                  form: input(type='text',placeholder="I'm a header!")
              li.draggable
                .block.paragraph
                  p paragraph
                  textarea.form-control(placeholder="I'm a paragraph!", rows=3)
              li.draggable
                .block.button
                  p button
                  button.btn.btn-primary(type='button') Click Me

          #tabs-2.tab-pane
            ul.nav.nav-pills.nav-stacked
              li.active: a(href="#") Selectors
              li: a(href="#") Control
              li: a(href="#") Data
              li: a(href="#") Operators
 
   
      #sandbox.column
        ol.sortable.root
          li.ui-state-disabled
            .block.contain
              p document
