html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1")

    script(src='/src/libraries/jquery.min.js')
    script(src='/src/libraries/jqueryui.min.js')
    script(src='/src/libraries/nestedSortable.js')
    //- script(src="http://code.jquery.com/ui/1.10.4/jquery-ui.min.js")
    script(src="/src/app.js")
  
    link(rel='stylesheet', href='/style/style.css')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')

    script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
  body
    .container-fluid
      #preview.column
        iframe
          link(rel='stylesheet', href="style/preview.css")

        button.pageLink(type="button",class="btn btn-default")
          span.trash(class="glyphicon glyphicon-link")
      
      #blocks.column
        ul.nav.nav-tabs(id='tabs', data-tabs="tabs")
          li.active: a(href="#tabs-1", data-toggle="tab") Build
          li: a(href="#tabs-2", data-toggle="tab") Control

        #blocksContainer.tab-content
          #tabs-1.tab-pane.active
            //- ul.nav.nav-pills.nav-stacked
            //- li.active: a(href="#") Groups
            //- li: a(href="#") Elements

            ol.blockStore
              li.block.draggable.group
                .blockSide.leftSide
                .blockSide.topSide                  
                .blockSide.bottomSide
                .blockHeader
                  p group
                  span.trash(class="glyphicon glyphicon-trash")
                  form(role='form')
                    label.radio-inline
                      input(type="radio", value="|", name="divFormat")
                      | ||
                    label.radio-inline
                      input(type="radio", value="-", name="divFormat",checked)
                      | ==

              li.block.draggable.header
                .blockHeader
                  p header
                  span.trash(class="glyphicon glyphicon-trash")
                  form: input(type='text',placeholder="I'm a header!")

              li.block.draggable.paragraph
                .blockHeader
                  p paragraph
                  span.trash(class="glyphicon glyphicon-trash")
                  textarea.form-control(placeholder="I'm a paragraph!", rows=2)

              li.block.draggable.image
                .blockHeader
                  p image
                  span.trash(class="glyphicon glyphicon-trash")
                  form: input(type='text',placeholder="paste a url here")

              li.block.draggable.link
                .blockHeader
                  p link
                  span.trash(class="glyphicon glyphicon-trash")
                  form: input(type='text',placeholder="Name of link")
                  form: input(type='text',placeholder="paste a url here")

              li.block.draggable.button
                .blockHeader
                  p button
                  span.trash(class="glyphicon glyphicon-trash")
                  button.btn.btn-primary(type='button') Click Me

              li.block.draggable.embed
                .blockHeader
                  p embed
                  span.trash(class="glyphicon glyphicon-trash")
                  form: input(type='text',placeholder="paste a url here")

          #tabs-2.tab-pane
            ul.nav.nav-pills.nav-stacked
              li.active: a(href="#") Selectors
              li: a(href="#") Control
              li: a(href="#") Data
              li: a(href="#") Operators
 
   
      #sandbox.column
        ol.sortable.root
          li.ui-state-disabled.contain
            .block.contain
              p document
